node_modules/
node_modules.zip
public.zip
nohup.out
.env
staging-env
package-lock.json
public/
uploads/
test.*
blackties-backend.zip
config/mahaba-2-credentials.json
config/mahaba-2-e9451-firebase-adminsdk-p60dm-ece72f832d.json