</div>
<footer
    style="text-align: center; background-color: #344A5F; padding: 5%; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;">
    <img src="https://3b28ef8b897cac9260755ea41941717f.cdn.bubble.io/f1664822527337x200566435565927560/Logo%20Full.svg" alt="Logo"
        style="max-width: 100px;margin-bottom:1%;width:12%;height:auto">
    <a style="text-decoration:none" href='mailto:support@mahaba.com'>
        <p style="font-size: 11px; color: white;font-family: 'Brandon Grotesque Bold';text-transform: uppercase;">

        </p>
    </a>
    <p style="font-size: 11px; color: white;font-family: 'Brandon Grotesque Regular';">©2020 Mahaba</p>
</footer>
</div>
</body>

</html>