
<% var dir = process.cwd() %>
<%- include(dir + "/templates/partials/header.ejs") %>
<div style="background-color: #f9fafb; margin: -6.8%; padding-top: 6.8%; display: flex; align-items: flex-end; justify-content: center; border-radius: 20px 20px 0 0">
	<img src="https://marketplace.canva.com/EAFMOhpUpCs/1/0/1600w/canva-black-minimal-email-header-21S_w5Ki2Hw.jpg" width="80%" height="auto" alt="" style="height: 100%" />
</div>

<h1 style="margin-top: 15%; font-size: 25px; font-family: 'Brandon Grotesque Black'; color: #344a5f"> <br /></h1>
<div style="text-align: left; padding: 2%; font-size: 15px; color: #7e8c99">
	
	<br /><br /><br />

	<br /><br /><br />
	<h1><%= welcomeMessage %></h1>
	<br /><br />
	<i style="text-align: left; font-size: 12px; font-family: 'Brandon Grotesque Regular'; color: #7e8c99"></i>
</div>
<%- include(dir + "/templates/partials/footer.ejs") %>